body {
    font-family: Arial, sans-serif;
}



/*背景图*/
.background-image {
    height: 100vh;
    /* 确保背景图覆盖整个视口高度 */
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    transition: background-image 1s ease-in-out;
}
/*背景图招聘*/
.background-image {
    background-image: url('./beijingtu8.WebP');
    height: 100vh;
    /* 确保背景图覆盖整个视口高度 */
    background-size: cover;
}

.culture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
        /* 增加内边距 */
        margin-top: 38px;
        /* 增加顶部边距 */
    color: white;
}

.title h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.image-dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}



.culture {
    position: absolute;
    top: 45%;
    left: 10%;
    /* 调整左侧边距，使内容左对齐 */
    transform: translateY(-50%);
    /* 垂直居中 */
    text-align: left;
    /* 左对齐文本 */
    color: white;
    /* 设置内容颜色为白色 */
    width: 80%;
    /* 设置内容宽度 */
    padding: 20px;
    /* 增加内边距 */
}

.title h2 {
    color: #0000ff;
    /* 设置标题颜色为蓝色 */
    font-size: 36px;
    text-align: center;
    /* 居中对齐标题 */
    margin-bottom: 20px;
    font-weight: bold;
}

.content {
    line-height: 2.68;
    /* 设置行间距 */
    letter-spacing: 1.8px;
        /* 设置内容字符间距为1.8像素 */
    font-size: 18px;/* 设置内容字体大小为38px */
}

.content p {
    margin-bottom:20px;
    /* 设置段落间距 */
}

.email {
    text-align: center;
    /* 居中对齐 */
    color: #f4f808;
    /* 设置邮箱地址颜色为黄色 */
    font-size: 20px;
}

.mt20{
    letter-spacing: 5px;
        /* 设置内容字符间距为5像素 */
}

.mt21 {
 letter-spacing: 5px;
        /* 设置内容字符间距为5像素 */
    text-align: center;
    /* 最后一段居中对齐 */
}

.culture::before,
.culture::after {
    content: none;
    /* 移除上下白线 */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 118px;
    background: rgb(6, 6, 60);
    padding: 0 50px;
}

.center-image {
    display: block;
    /* 使图片独占一行 */
    margin-left: auto;
    /* 将图片向右移动 */
    margin-right: auto;
    /* 将图片向左移动 */
    position: absolute;
    /* 绝对定位 */
    left: 50%;
    /* 定位到容器宽度的50% */
    transform: translateX(-50%);
    /* 向左移动自身宽度的50%，实现水平居中 */
    width: 118px;
    /* 设置图片宽度 */
    height: 118px;
    /* 设置图片高度 */
}


